## Visual Studio y .NET ##
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.cache
*.vsidx
*.pdb
*.exe
*.db

## Archivos de configuración local ##
*.backup.json
DocumentLayout.json

## Archivos de compilación ##
*.csproj.AssemblyReference.cache
DesignTimeResolveAssemblyReferencesInput.cache

## Otros ##
.DS_Store
Thumbs.db
